include includes/vars
include includes/mixins

doctype html
html(lang='ru')
    include includes/components/head


body.clr
    .wrapper.m_t
        div: a(href='index.html') Main


    include includes/components/scripts